<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CoinMKTApiBaseAddress" value="https://stagepubapi.coinmkt.com"/>
    <add key="CoinMKTApiVersion" value="1"/>
    <add key="CoinMKTApiKey" value="148B8BC3D81040DC971CC1C2500062D5"/>
    <add key="CoinMKTApiSecret" value="2DCA8D969C6740AD92DA9BA61C5FCE4D"/>
    <add key="CoinMKTApiSecondaryKey" value="9cc123e14ecf4dd681e7d86b20757e93"/>
  </appSettings>
</configuration>